@use "@angular/material" as mat;
@use "sass:map";
@include mat.core();

/// Adds the error colors to the given palette.
@function _patch-error-palette($palette) {
  @return map.merge(
    $palette,
    (
      error: (
        0: #000000,
        10: #410002,
        20: #690005,
        25: #7e0007,
        30: #93000a,
        35: #a80710,
        40: #ba1a1a,
        50: #de3730,
        60: #ff5449,
        70: #ff897d,
        80: #ffb4ab,
        90: #ffdad6,
        95: #ffedea,
        98: #fff8f7,
        99: #fffbff,
        100: #ffffff,
      ),
    )
  );
}

/// Azure color palette to be used as primary or tertiary palette.
$a-palette: _patch-error-palette(
  (
    0: #000000,
    10: #001b3f,
    20: #002f65,
    25: #003a7a,
    30: #00458f,
    35: #0050a5,
    40: #005cbb,
    50: #0074e9,
    60: #438fff,
    70: #7cabff,
    80: #abc7ff,
    90: #d7e3ff,
    95: #ecf0ff,
    98: #f9f9ff,
    99: #fdfbff,
    100: #ffffff,
    secondary: (
      0: #000000,
      10: #131c2b,
      20: #283041,
      25: #333c4d,
      30: #3e4759,
      35: #4a5365,
      40: #565e71,
      50: #6f778b,
      60: #8891a5,
      70: #a3abc0,
      80: #bec6dc,
      90: #dae2f9,
      95: #ecf0ff,
      98: #f9f9ff,
      99: #fdfbff,
      100: #ffffff,
    ),
    neutral: (
      0: #000000,
      10: #1a1b1f,
      20: #2f3033,
      25: #3b3b3f,
      30: #46464a,
      35: #525256,
      40: #5e5e62,
      50: #77777a,
      60: #919094,
      70: #ababaf,
      80: #c7c6ca,
      90: #e3e2e6,
      95: #f2f0f4,
      98: #faf9fd,
      99: #fdfbff,
      100: #ffffff,
      4: #0d0e11,
      6: #121316,
      12: #1f2022,
      17: #292a2c,
      22: #343537,
      24: #38393c,
      87: #dbd9dd,
      92: #e9e7eb,
      94: #efedf0,
      96: #f4f3f6,
    ),
    neutral-variant: (
      0: #000000,
      10: #181c22,
      20: #2d3038,
      25: #383b43,
      30: #44474e,
      35: #4f525a,
      40: #5b5e66,
      50: #74777f,
      60: #8e9099,
      70: #a9abb4,
      80: #c4c6d0,
      90: #e0e2ec,
      95: #eff0fa,
      98: #f9f9ff,
      99: #fdfbff,
      100: #ffffff,
    ),
  )
);

// Definir las paletas para el tema claro
$primary-palette-light: _patch-error-palette(
  (
    0: #000000,
    10: #001a41,
    20: #122f5e,
    25: #203a6a,
    30: #2c4676,
    35: #395283,
    40: #455e90,
    50: #5e77aa,
    60: #7890c6,
    70: #92abe2,
    80: #adc6ff,
    90: #d8e2ff,
    95: #edf0ff,
    98: #f9f9ff,
    99: #fefbff,
    100: #ffffff,
    secondary: (
      0: #000000,
      10: #101d29,
      20: #25313f,
      25: #303d4a,
      30: #3b4856,
      35: #475462,
      40: #53606e,
      50: #6c7888,
      60: #8592a2,
      70: #9facbd,
      80: #bbc8d9,
      90: #d7e4f5,
      95: #e8f1ff,
      98: #f7f9ff,
      99: #fcfcff,
      100: #ffffff,
    ),
    neutral: (
      0: #000000,
      10: #1c1b1b,
      20: #313030,
      25: #3c3b3b,
      30: #484646,
      35: #535252,
      40: #5f5e5e,
      50: #787776,
      60: #929090,
      70: #adaaaa,
      80: #c9c6c5,
      90: #e5e2e1,
      95: #f4f0ef,
      98: #fcf8f8,
      99: #f6feff,
      100: #ffffff,
    ),
    neutral-variant: (
      0: #000000,
      10: #1c1b1c,
      20: #313031,
      25: #3c3b3c,
      30: #474647,
      35: #535252,
      40: #5f5e5e,
      50: #787777,
      60: #929090,
      70: #adabab,
      80: #c9c6c6,
      90: #e5e2e2,
      95: #f3f0f0,
      98: #fcf8f8,
      99: #fffbfb,
      100: #ffffff,
    ),
  )
);

$secondary-palette-light: _patch-error-palette(
  (
    0: #000000,
    10: #101D29,
    20: #25313F,
    25: #303D4A,
    30: #3B4856,
    35: #475462,
    40: #53606E,
    50: #6C7888,
    60: #8592A2,
    70: #9FACBD,
    80: #BBC8D9,
    90: #D7E4F5,
    95: #E8F1FF,
    98: #F7F9FF,
    99: #FCFCFF,
    100: #FFFFFF,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #ffffff,
      A700: #ffffff,
    ),
  )
);

$tertiary-palette-light: _patch-error-palette(
  (
    0: #000000,
    10: #001B3D,
    20: #003063,
    25: #003B77,
    30: #134685,
    35: #245291,
    40: #335E9E,
    50: #4E77B9,
    60: #6991D5,
    70: #83ACF1,
    80: #A9C7FF,
    90: #D6E3FF,
    95: #ECF0FF,
    98: #F9F9FF,
    99: #FDFBFF,
    100: #FFFFFF,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #ffffff,
      A700: #ffffff,
    ),
  )
);

// Definir paleta de acento para el tema claro
$accent-palette-light: _patch-error-palette(
  (
    50: #f9e0e2,
    100: #f0b3b3,
    200: #e68080,
    300: #db4d4d,
    400: #d42626,
    500: #cc0000,
    600: #c70000,
    700: #c00000,
    800: #b90000,
    900: #ad0000,
    A100: #ffd7d7,
    A200: #ffa4a4,
    A400: #ff7171,
    A700: #ff5858,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #ffffff,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000,
    ),
  )
);

// Definir las paletas para el tema oscuro
$primary-palette-dark: _patch-error-palette(
  (
    50: #001a41,
    100: #2b4678,
    200: #adc6ff,
    300: #92abe2,
    400: #7890c6,
    500: #455e90,
    600: #2c4676,
    700: #122f5e,
    800: #203a6a,
    900: #001a41,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #ffffff,
      A700: #ffffff,
    ),
  )
);

$secondary-palette-dark: _patch-error-palette(
  (
    50: #001d34,
    100: #124a73,
    200: #9dcbfb,
    300: #6795c2,
    400: #4a78a4,
    500: #31628d,
    600: #0b466f,
    700: #00243e,
    800: #00182b,
    900: #00102d,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #ffffff,
      A700: #ffffff,
    ),
  )
);

$tertiary-palette-dark: _patch-error-palette(
  (
    50: #001b3d,
    100: #264777,
    200: #a9c7ff,
    300: #6991d5,
    400: #4e77b9,
    500: #335e9e,
    600: #245291,
    700: #134685,
    800: #003b77,
    900: #002249,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #ffffff,
      A700: #ffffff,
    ),
  )
);

// Definir paleta de acento para el tema oscuro
$accent-palette-dark: _patch-error-palette(
  (
    50: #ff001a,
    100: #ff203a,
    200: #ff2c46,
    300: #ff455e,
    400: #ff5e77,
    500: #ff7890,
    600: #ff92ab,
    700: #ffadc6,
    800: #ffd8e4,
    900: #ffffff,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #ffffff,
      A700: #ffffff,
    ),
  )
);
