.menu-container {
    background-color: var(--onPrimaryContainer);
    color: white;
  }
  

  .logo-text {
    color: var( --primary);
  }
  
  .logo-highlight {
    color: #3b82f6; /* Blue-500 */
  }
  
  .logo-subtext {
    color: var( --primary);
  }

  .welcome-text {
    color: var( --primary);
  }

  