.menu-container {
    background-color: var(--material-theme-schemes-on-primary);
    color: white;
  }
  

  .logo-text {
    color: var( --material-theme-schemes-on-primary);
  }
  
  .logo-highlight {
    color: #3b82f6; /* Blue-500 */
  }
  
  .logo-subtext {
    color: var( --material-theme-schemes-on-primary);
  }

  .welcome-text {
    color: var( --material-theme-schemes-on-primary);
  }

  