<div class="mb-4 grid grid-cols-1 gap-6 xl:grid-cols-2">
    <div
        class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md overflow-hidden xl:col-span-2">
        <div
            class="relative bg-clip-border rounded-xl overflow-hidden bg-transparent text-gray-700 shadow-none m-0 flex items-center justify-between p-6">
            <div>
                <h6
                    class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-blue-gray-900 mb-1">
                    Projects</h6>
                <p
                    class="antialiased font-sans text-sm leading-normal flex items-center gap-1 font-normal text-blue-gray-600">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3"
                        stroke="currentColor" aria-hidden="true" class="h-4 w-4 text-blue-500">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"></path>
                    </svg>
                    <strong>30 done</strong> this month
                </p>
            </div>
            <button aria-expanded="false" aria-haspopup="menu" id=":r5:"
                class="relative middle none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-8 max-w-[32px] h-8 max-h-[32px] rounded-lg text-xs text-blue-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30"
                type="button">
                <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currenColor" viewBox="0 0 24 24" stroke-width="3"
                        stroke="currentColor" aria-hidden="true" class="h-6 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z">
                        </path>
                    </svg>
                </span>
            </button>
        </div>
        <div class="p-6 overflow-x-scroll px-0 pt-0 pb-2">
            <table class="w-full min-w-[640px] table-auto">
                <thead>
                    <tr>
                        <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
                            <p class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400">
                                companies</p>
                        </th>
                        <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
                            <p class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400">
                                budget</p>
                        </th>
                        <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
                            <p class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400">
                                completion</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="py-3 px-5 border-b border-blue-gray-50">
                            <div class="flex items-center gap-4">
                                <p
                                    class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold">
                                    Material XD Version</p>
                            </div>
                        </td>

                        <td class="py-3 px-5 border-b border-blue-gray-50">
                            <p class="block antialiased font-sans text-xs font-medium text-blue-gray-600">$14,000</p>
                        </td>
                        <td class="py-3 px-5 border-b border-blue-gray-50">
                            <div class="w-10/12">
                                <p class="antialiased font-sans mb-1 block text-xs font-medium text-blue-gray-600">60%
                                </p>
                                <div
                                    class="flex flex-start bg-blue-gray-50 overflow-hidden w-full rounded-sm font-sans text-xs font-medium h-1">
                                    <div class="flex justify-center items-center h-full bg-gradient-to-tr from-blue-600 to-blue-400 text-white"
                                        style="width: 60%;"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="py-3 px-5 border-b border-blue-gray-50">
                            <div class="flex items-center gap-4">
                                <p
                                    class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold">
                                    Add Progress Track</p>
                            </div>
                        </td>
                        <td class="py-3 px-5 border-b border-blue-gray-50">
                            <p class="block antialiased font-sans text-xs font-medium text-blue-gray-600">$3,000</p>
                        </td>
                        <td class="py-3 px-5 border-b border-blue-gray-50">
                            <div class="w-10/12">
                                <p class="antialiased font-sans mb-1 block text-xs font-medium text-blue-gray-600">10%
                                </p>
                                <div
                                    class="flex flex-start bg-blue-gray-50 overflow-hidden w-full rounded-sm font-sans text-xs font-medium h-1">
                                    <div class="flex justify-center items-center h-full bg-gradient-to-tr from-blue-600 to-blue-400 text-white"
                                        style="width: 10%;"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="py-3 px-5 border-b border-blue-gray-50">
                            <div class="flex items-center gap-4">
                                <p
                                    class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold">
                                    Fix Platform Errors</p>
                            </div>
                        </td>
                        <td class="py-3 px-5 border-b border-blue-gray-50">
                            <p class="block antialiased font-sans text-xs font-medium text-blue-gray-600">Not set</p>
                        </td>
                        <td class="py-3 px-5 border-b border-blue-gray-50">
                            <div class="w-10/12">
                                <p class="antialiased font-sans mb-1 block text-xs font-medium text-blue-gray-600">100%
                                </p>
                                <div
                                    class="flex flex-start bg-blue-gray-50 overflow-hidden w-full rounded-sm font-sans text-xs font-medium h-1">
                                    <div class="flex justify-center items-center h-full bg-gradient-to-tr from-green-600 to-green-400 text-white"
                                        style="width: 100%;"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="py-3 px-5 border-b border-blue-gray-50">
                            <div class="flex items-center gap-4">
                                <p
                                    class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold">
                                    Launch our Mobile App</p>
                            </div>
                        </td>
                        <td class="py-3 px-5 border-b border-blue-gray-50">
                            <p class="block antialiased font-sans text-xs font-medium text-blue-gray-600">$20,500</p>
                        </td>
                        <td class="py-3 px-5 border-b border-blue-gray-50">
                            <div class="w-10/12">
                                <p class="antialiased font-sans mb-1 block text-xs font-medium text-blue-gray-600">100%
                                </p>
                                <div
                                    class="flex flex-start bg-blue-gray-50 overflow-hidden w-full rounded-sm font-sans text-xs font-medium h-1">
                                    <div class="flex justify-center items-center h-full bg-gradient-to-tr from-green-600 to-green-400 text-white"
                                        style="width: 100%;"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="py-3 px-5 border-b border-blue-gray-50">
                            <div class="flex items-center gap-4">
                                <p
                                    class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold">
                                    Add the New Pricing Page</p>
                            </div>
                        </td>
                        <td class="py-3 px-5 border-b border-blue-gray-50">
                            <p class="block antialiased font-sans text-xs font-medium text-blue-gray-600">$500</p>
                        </td>
                        <td class="py-3 px-5 border-b border-blue-gray-50">
                            <div class="w-10/12">
                                <p class="antialiased font-sans mb-1 block text-xs font-medium text-blue-gray-600">25%
                                </p>
                                <div
                                    class="flex flex-start bg-blue-gray-50 overflow-hidden w-full rounded-sm font-sans text-xs font-medium h-1">
                                    <div class="flex justify-center items-center h-full bg-gradient-to-tr from-blue-600 to-blue-400 text-white"
                                        style="width: 25%;"></div>
                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="flex font-sans">
    <div class="flex-none w-48 relative">
        <img src="/classic-utility-jacket.jpg" alt="" class="absolute inset-0 w-full h-full object-cover"
            loading="lazy" />
    </div>
    <form class="flex-auto p-6">
        <div class="flex flex-wrap">
            <h1 class="flex-auto text-lg font-semibold text-slate-900">
                Classic Utility Jacket
            </h1>
            <div class="text-lg font-semibold text-slate-500">
                $110.00
            </div>
            <div class="w-full flex-none text-sm font-medium text-slate-700 mt-2">
                In stock
            </div>
        </div>
        <div class="flex items-baseline mt-4 mb-6 pb-6 border-b border-slate-200">
            <div class="space-x-2 flex text-sm">
                <label>
                    <input class="sr-only peer" name="size" type="radio" value="xs" checked />
                    <div
                        class="w-9 h-9 rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                        XS
                    </div>
                </label>
                <label>
                    <input class="sr-only peer" name="size" type="radio" value="s" />
                    <div
                        class="w-9 h-9 rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                        S
                    </div>
                </label>
                <label>
                    <input class="sr-only peer" name="size" type="radio" value="m" />
                    <div
                        class="w-9 h-9 rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                        M
                    </div>
                </label>
                <label>
                    <input class="sr-only peer" name="size" type="radio" value="l" />
                    <div
                        class="w-9 h-9 rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                        L
                    </div>
                </label>
                <label>
                    <input class="sr-only peer" name="size" type="radio" value="xl" />
                    <div
                        class="w-9 h-9 rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                        XL
                    </div>
                </label>
            </div>
        </div>
        <div class="flex space-x-4 mb-6 text-sm font-medium">
            <div class="flex-auto flex space-x-4">
                <button class="h-10 px-6 font-semibold rounded-md bg-black text-white" type="submit">
                    Buy now
                </button>
                <button class="h-10 px-6 font-semibold rounded-md border border-slate-200 text-slate-900" type="button">
                    Add to bag
                </button>
            </div>
            <button
                class="flex-none flex items-center justify-center w-9 h-9 rounded-md text-slate-300 border border-slate-200"
                type="button" aria-label="Like">
                <svg width="20" height="20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" />
                </svg>
            </button>
        </div>
        <p class="text-sm text-slate-700">
            Free shipping on all continental US orders.
        </p>
    </form>
</div>