@use '@angular/material' as mat;

@include mat.core();

// Definir la tipografía global usando Poppins
$custom-typography: mat.define-typography-config(
  $font-family: 'Poppins, sans-serif',
  $headline-1: mat.define-typography-level(96px, 112px, 300),
  $headline-2: mat.define-typography-level(60px, 72px, 300),
  $headline-3: mat.define-typography-level(48px, 56px, 400),
  $headline-4: mat.define-typography-level(34px, 48px, 400),
  $headline-5: mat.define-typography-level(24px, 32px, 400),
  $headline-6: mat.define-typography-level(20px, 32px, 500),
  $subtitle-1: mat.define-typography-level(16px, 24px, 400),
  $subtitle-2: mat.define-typography-level(14px, 24px, 500),
  $body-1: mat.define-typography-level(16px, 24px, 400),
  $body-2: mat.define-typography-level(14px, 20px, 400),
  $button: mat.define-typography-level(14px, 16px, 500),
  $caption: mat.define-typography-level(12px, 16px, 400),
  $overline: mat.define-typography-level(10px, 16px, 400)
);

// Definir las paletas para el tema claro
$primary-palette-light: mat.define-palette((
  50: #D8E2FF,
  100: #ADC6FF,
  200: #92ABE2,
  300: #7890C6,
  400: #5E77AA,
  500: #455E90,
  600: #2C4676,
  700: #203A6A,
  800: #122F5E,
  900: #001A41,
  contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
));

$secondary-palette-light: mat.define-palette((
  50: #D7E4F5,
  100: #BBC8D9,
  200: #9FACBD,
  300: #8592A2,
  400: #6C7888, 
  500: #53606E,
  600: #475462,
  700: #3B4856,
  800: #303D4A,
  900: #25313F,
  contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
));

$tertiary-palette-light: mat.define-palette((
  50: #D6E3FF,
  100: #A9C7FF,
  200: #83ACF1,
  300: #6991D5,
  400: #4E77B9,
  500: #335E9E,
  600: #245291,
  700: #134685,
  800: #003B77,
  900: #003063,
  contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
));

// Definir paleta de acento para el tema claro
$accent-palette-light: mat.define-palette((
  50 : #f9e0e2,
    100 : #f0b3b3,
    200 : #e68080,
    300 : #db4d4d,
    400 : #d42626,
    500 : #cc0000,
    600 : #c70000,
    700 : #c00000,
    800 : #b90000,
    900 : #ad0000,
    A100 : #ffd7d7,
    A200 : #ffa4a4,
    A400 : #ff7171,
    A700 : #ff5858,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
));

// Definir las paletas para el tema oscuro
$primary-palette-dark: mat.define-palette((
  50: #001A41,
  100: #2B4678,
  200: #ADC6FF,
  300: #92ABE2,
  400: #7890C6,
  500: #455E90,
  600: #2C4676,
  700: #122F5E,
  800: #203A6A,
  900: #001A41,
  contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
));

$secondary-palette-dark: mat.define-palette((
  50: #001D34,
  100: #124A73,
  200: #9DCBFB,
  300: #6795C2,
  400: #4A78A4,
  500: #31628D,
  600: #0B466F,
  700: #00243E,
  800: #00182B,
  900: #00102D,
  contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
));

$tertiary-palette-dark: mat.define-palette((
  50: #001B3D,
  100: #264777,
  200: #A9C7FF,
  300: #6991D5,
  400: #4E77B9,
  500: #335E9E,
  600: #245291,
  700: #134685,
  800: #003B77,
  900: #002249,
  contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
));

// Definir paleta de acento para el tema oscuro
$accent-palette-dark: mat.define-palette((
  50: #FF001A,
  100: #FF203A,
  200: #FF2C46,
  300: #FF455E,
  400: #FF5E77,
  500: #FF7890,
  600: #FF92AB,
  700: #FFADC6,
  800: #FFD8E4,
  900: #FFFFFF,
  contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
));

// Definir el tema claro
$light-theme: mat.define-light-theme((
  color: (
    primary: $primary-palette-light,
    secondary: $secondary-palette-light,
    tertiary: $tertiary-palette-light,
    accent: $accent-palette-light,
  ),
  typography: $custom-typography
));

// Definir el tema oscuro
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $primary-palette-dark,
    secondary: $secondary-palette-dark,
    tertiary: $tertiary-palette-dark,
    accent: $accent-palette-dark,
  ),
  typography: $custom-typography
));

@include mat.all-component-themes($light-theme);

.dark-theme {
  @include mat.all-component-colors($dark-theme);
}